.root {
  height: 100%;
  position: relative;
}

.movingThing {
  box-sizing: border-box;
}

.positioning {
  display: inline-flex;
  position: absolute;
}

.button {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
