/* stylelint-disable selector-max-type, selector-max-class, unit-blacklist, color-no-hex, property-blacklist, length-zero-no-unit */
.rating {
  position: relative;
  display: inline-block;
}

.input[type="radio"] {
  display: none;
}

.facade {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -2px 8px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #8b969e;
  position: relative;
}

.value {
  font-size: 1.15rem;
  color: #2d3b45;
  position: absolute;
  top: 10px;
  left: 14px;
  line-height: 1;
}

.input[type="radio"]:checked + .facade {
  background-color: #8b969e;
  border: 2px solid #8b969e;
  box-shadow:
    0px 0px 0px 2px #fff,
    0px 0px 0px 4px #008ee2;

  .value {
    color: #fff;
  }
}

.description {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

.summary {
  font-size: 1rem;
  line-height: 1.5;
}
