body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  position: relative;
}

.mainNav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1111;
}

.mainContent--Minimized {
  position: relative;
  margin-left: 3.375rem;
  height: 100vh;
}

.mainContent--Expanded {
  position: relative;
  margin-left: 5.25rem;
  height: 100vh;
}